.sign_container {
  width: 520px;
  height: 480px;
  margin: 0 auto;
  margin-top: 20px;
  overflow: auto;
}

.sign_box {
  position: relative;
  width: 100%;
  height: 200px;
}

.sign_title {
  background-color: rgb(169, 170, 170);
  height: 30px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  color: white;
}

.sign_box img {
  margin-top: 10px;
}

.sign_text {
  display: inline-block;
  position: absolute;
  left: 80px;
  top: 40px;
  width: 440px;
  height: 142px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}
